body{
    text-align: center;
}

.display-flex-row{
    display: flex;
    align-items: center; 
    justify-content: center;   
}

.display-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    max-width: 1024px;    
    margin: auto;
    border: 1px solid #333;
}

.a-25{
    height: 25rem;
}

.a-10{
    height: 10rem;
}

.container div{
    width: 50%;
    height: inherit;
    border: 1px solid #333;
}
