p{
    border: 5px double #09dfd4;
    margin-bottom: 50px;
    padding: 100px;
    /*padding: 100px Top e Bottom 150px; right e left*/
    /*padding: 100px 200px 85px 85px;*/           
}
img{       
    border: 4px #333;
    border-style: double; 
              
}
a{
    text-decoration: none;
    color: #333;
    margin-left: 50px;
}
.img-float{
    float: left;
}
